# 依赖目录
**/node_modules/
**/.pnp
.pnp.js

# 测试相关
**/coverage/

# 构建输出
**/build/
**/dist/
*.hprof

# 环境变量文件
.env*
!.env.example

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 系统文件
.DS_Store

# IDE配置
**/.vscode/
**/.idea/

# 后端特定忽略
**/target/
**/*.jar
**/*.war
**/*.ear

# 前端特定忽略
**/.cache/
**/.next/